.gallery{
  font-size: 1.4rem;

  dl {
    dt{
      padding: 10px 0;
      margin-bottom: 20px;
      border-bottom: 1px solid #eaecef;
    }

    dd{
      margin: 0;
      padding:6px 13px;
      display: inline-flex;
      width: 200px;
      border: 1px solid #eaecef;

      a{
        display: block;
        text-decoration: none;
        color: #666;
      }

      img{
        width: 100%;
        height: auto;
      }

      &:not(:first-of-type){
        margin-left: 10px;
      }
    }
  }
}
